---
import BaseLayout from "../layouts/BaseLayout.astro";
import ProjectPreview from "../components/ProjectPreview.astro";
const allProjects = await Astro.glob("./projects/*.md");
---

<BaseLayout pageTitle="Riley Mathews">
    <h1 class="text-2xl font-bold my-2">Riley Mathews</h1>
    <p>Welcome to my portfolio! I hope you enjoy reading about some of the fun projects I have created!</p>
    <div class="flex flex-col gap-4">
        {allProjects.map((project) => <ProjectPreview project={project} />)}
    </div>
</BaseLayout>
