---
const { project } = Astro.props;
---

<div
    class="flex flex-col gap-4 p-4 bg-gray-800 border-l-gray-700 border-r-gray-700 border-b-gray-600 border-2 border-b-4 rounded-md border-gray-700"
>
    <h4>{project.frontmatter.title}</h4>
    <div>
        {
            project.frontmatter.tags.map((tag) => (
                <span class="bg-gray-500 px-2 text-sm rounded-lg mr-2">
                    {tag}
                </span>
            ))
        }
    </div>
    <p>
        {project.frontmatter.summary}
    </p>
    <a class="text-blue-500 underline" href={project.url}>read more</a>
</div>
